
<body>
  {% extends 'base.html' %}
  {% block header %}
  <div class="container">
    <h1 class="display-4">Dashboard</h1>
    <h3>Visualizations Below</h3>
  </div>

  {% endblock %}
{% block content %}
  <div class="container">
    <div class="container">
      <h1>Heatmap of Northern Extent Averages</h1>
      <div id = 'pl_heat_nor' class='chart' >
      </div>
      <h1>Heatmap of Southern Extent Averages</h1>
      <div id = 'pl_heat_sou' class='chart'>
      </div>
      </div>
    </div>
  </div>
  <!-- D3.js - Data Driven Documents script for visualization-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Plotly.js Plotly script -->
  <script src="https://cdn.plot.ly/plotly-1.52.3.min.js" charset="utf-8"></script>
  <script type="text/javascript">
          var pl_heat_nor = {{ north_heatmap | safe }};
          var pl_heat_sou = {{ south_heatmap | safe }};
          var layout = {
            // set the size of the layout for the plot
            autosize: true,
            width: 1100,
            height: 700,
          }
          Plotly.newPlot('pl_heat_nor',pl_heat_nor, layout)
          Plotly.newPlot('pl_heat_sou',pl_heat_sou, layout)
  </script>
{% endblock %}
</body>
<!--
DASHBOARD FEATURES


  -->
